.max-width-1100 {
  max-width: 1100px;
}

/**********/
/* Header */
/**********/
.header-sticky {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.page2__button,
.page2__header-button,
.subscribe-button {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0.5rem;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(25, 118, 210);
  border-radius: 0.1875rem;
  line-height: 1.4;
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-rendering: auto;
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 118, 210);
  transition: color 0.1s ease 0s, background-color 0.1s ease 0s,
    border-color 0.1s ease 0s;
  padding: 0.5rem 0.7rem;
  white-space: nowrap;
  margin-left: 16px;
}
.page2__button:hover,
.subscribe-button:hover,
.page2__header-button:hover {
  background: rgb(20, 92, 164);
}

.page2__semiheader {
  background: white;
  padding: 0.5rem 2rem 0.5rem;
}
.page2__semiheader-path a {
  color: rgb(25, 118, 210) !important;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom 0.25s ease 0s;
}
.page2__semiheader-links a {
  transition: color 0.1s;
  margin: 0 1rem 0 0;
  height: 1rem;
  line-height: 1rem;
  font-weight: 600;
  color: #4a4a4a;
}
.page2__semiheader-links a:hover {
  color: #1976d2;
}

.page2_header {
  padding: 0.5rem 2rem 0.5rem;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  background: white;
}
.page2_header .ant-col {
  display: flex;
  align-items: center;
  height: 100%;
}
.page2_header .ant-row {
  height: 46px;
  flex-wrap: nowrap;
}
.page2__logo-wrapper {
  margin: 0 4rem 0 0;
}
.page2__logo-wrapper a {
  display: flex;
  align-items: center;
  overflow: hidden;
  object-fit: fill;
  height: 30px;
}
.page2__logo-wrapper img {
  height: 100%;
}

.page2__nav-list {
  display: flex;
}
.page2__nav-list li {
  margin: 0 1.5rem 0 0;
}
.page2__nav-list svg {
  position: relative;
  top: 5px;
  font-weight: 100;
}
.page2__nav-list .selected {
  color: rgb(25, 118, 210) !important;
}

.page2_header a,
.header-talk-btn {
  font-weight: 700;
  padding: 0;
  line-height: 1.4;
  -webkit-letter-spacing: -0.11px;
  -moz-letter-spacing: -0.11px;
  -ms-letter-spacing: -0.11px;
  letter-spacing: -0.11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #4a4a4a !important;

  font-feature-settings: 'liga';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.page2_header a:hover,
.header-talk-btn:hover {
  color: #1976d2 !important;
}

.page2__nav-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.page2__header-buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.page2__header-buttons a {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.page2__header-buttons svg {
  font-size: 25px;
  margin-right: 8px;
}

.page2__nav-hamburger button {
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  font-size: 25px;
}

.page2__nav-hamburger button:hover {
  opacity: 0.7;
}
@media (min-width: 993px) {
  .page2__nav-hamburger {
    display: none;
  }
}
@media (max-width: 992px) {
  .page2__header-buttons,
  .page2__header-nav,
  .page2__semiheader {
    display: none;
  }
  .page2_header .ant-row {
    justify-content: space-between;
  }
  .header__overlay-wrapper {
    display: none !important;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  border-bottom: 1px solid #d2d2d2;
  padding: 30px 0;
}

.modal-inner-wrapper,
.modal-inner-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-inner-wrapper a {
  color: rgb(25, 118, 210) !important;
}
.modal-inner-wrapper .header-talk-btn {
  color: #4a4a4a !important;
}
.modal-inner-wrapper .header-talk-btn:hover {
  color: rgb(25, 118, 210) !important;
}
.modal-upper-links {
  font-size: 1.5rem;
  line-height: 2rem;
}
.modal-upper-links a {
  padding: 0.5rem;
  text-align: center;
  font-weight: 900;
}
.modal-upper-links a:hover {
  text-decoration: underline;
}
.modal-mid-links a {
  padding-top: 1.3rem;
}
.modal-mid-links {
  border-top: 1px solid #d9d9d9;
  font-weight: 600;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.modal-close {
  position: absolute;
  right: 30px;
  top: 5px;
  padding: 1rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  font-size: 25px;
}

.page2__header-buttons.modal-btns {
  display: flex !important;
}

.header__overlay-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 0rem 2.5rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: auto !important;
  flex-wrap: nowrap !important;
}
.header__overlay-wrapper.ant-col {
  height: 100%;
}
.overlay__content-wrapper {
  max-width: 15rem;
  animation: 0.25s ease-out 0s 1 normal both running slidedown;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  vertical-align: baseline;
}
.overlay__title {
  margin: 0px 0px 0.5rem;
  color: rgb(74, 74, 74);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}
.overlay__subtitle {
  color: rgb(74, 74, 74);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0.25rem 0px 1.25rem;
  white-space: normal;
}
.overlay__elroboto-img {
  width: 12.1875rem;
  margin-right: 1.78812rem;
}

@media (max-width: 1280px) {
  .overlay__elroboto-img {
    display: block;
    width: 9rem;
    height: auto;
  }

  .removable-list {
    display: none;
  }
}

.overlay__featured-wrapper {
  max-width: 23.75rem;
}
.overlay_content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline !important;
}
.overlay_content-wrapper.last {
  flex-direction: row !important;
  align-items: flex-start !important;
}
.overlay__featured-wrapper {
  display: flex;
  flex-direction: column !important;
  align-items: baseline !important;
}
.overlay__list a {
  color: rgb(25, 118, 210) !important;
}
.overlay__list a:hover {
  color: rgb(145, 180, 225) !important;
}
.overlay__list li {
  padding: 5px 0;
}

.overlay__review {
  color: #4a4a4a;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0.25rem 0px 1.25rem;
  white-space: normal;
}
.overlay__review p,
.overlay__review span {
  padding: 10px;
}
.overlay__review p {
  border-left: 6px solid rgb(216, 216, 216);
}
.img-list {
  margin-bottom: 15px;
  max-width: 285px;
}
.img-list img {
  width: 20%;
  margin-right: 10px;
}
.img-list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 10px;
}
.icon-list {
  margin-right: 50px;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  float: left;
  margin: 0px 0.5rem 0.5rem 0px;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 0.125rem;
  place-content: center;
  -webkit-box-pack: center;
  background: linear-gradient(
    45deg,
    rgb(41, 215, 208) 0%,
    rgb(35, 117, 210) 100%
  );
}
.icon-wrapper svg {
  color: white;
  font-size: 30px;
}

/**********/
/* Footer */
/**********/

.page2__copyright-wrapper {
  color: #b9b9b9;
  background-color: #000000;
  padding: 2.5rem 0;
  line-height: 1.2rem;
}
.page2__copyright-flex {
  display: flex;
  justify-content: space-between;
}
.page2__copyright-links {
  display: flex;
  font-size: 20px;
}
.page2__copyright-links svg {
  margin-right: 15px;
}
.page2__copyright-wrapper p {
  transition: color 0.1s;
  padding: 0 1rem;
  color: #b9b9b9;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-weight: 900;
}
@media (max-width: 1024px) {
  .page2__copyright-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.page2__copyright a:hover {
  color: rgba(74, 74, 74, 0.75);
}
.page2__copyright {
  text-align: right;
}
.center {
  margin: 0 auto;
}

.color-a09f9f {
  color: #a09f9f !important;
}

@media (max-width: 770px) {
  .page2__copyright-flex,
  .page2__semifooter-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page2__copyright-links {
    margin-bottom: 20px;
  }
  .page2__copyright {
    text-align: center;
  }
  .font-size-decrease {
    font-size: 12px;
  }
  .footer-list {
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
  }
  .footer-subscribe {
    margin: 0 !important;
    max-width: 100% !important;
  }
}

.page2__semi-footer {
  padding: 6rem 2rem 4rem;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      90deg,
      #252525 calc(100% - 70rem),
      rgba(37, 37, 37, 0) 100%
    ),
    url(/dist/svg/ephox-dark-background.svg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  color: #b9b9b9;
}

.page2__semifooter-flex {
  display: flex;
  justify-content: space-between;
}
.footer-subscribe {
  max-width: 500px;
  margin-right: 50px;
}
.footer-subscribe svg {
  font-size: 3rem;
  font-weight: 100;
}
.footer-subscribe p {
  font-size: 1.25rem;
  line-height: 1.6rem;
  display: block;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.subscribe-wrapper {
  display: flex;
}

.footer-subscribe input {
  width: 70%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  line-height: 1.4;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  background: #ffffff;
  color: #212121;
  font-family: avenir;
}

.footer-subscribe .subscribe-button {
  height: 100%;
  width: 200px;
  margin: 0;
  margin-left: 20px;
  z-index: 0;
}

.semiFooter__list-wrapper {
  margin-bottom: 2rem;
  margin-right: 1rem;
  min-width: 10rem;
}
.semiFooter__list-wrapper li {
  margin-top: 0.8rem;
}
.semiFooter__list-wrapper a:hover {
  color: white;
}
.semiFooter__title {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0.25rem 0px 1.25rem;
  line-height: 1.5;
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
}

/************/
/* Contents */
/************/

.page2__contents-section .flex-column {
  display: flex;
}
.page2__contents-section .flex-row {
  display: flex;
}
.page2__bg-blue {
  background-color: #fafcff;
  border: 1px solid #edf3ff;
}
.page2__contents-section {
  padding: 4rem 2rem;
  padding-top: 2rem;
}
.page2__contents-blue {
  background: #fafcff;
}
.page2__contents-titleWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
}
.page2__contents-titleWrapper h2 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.38;
  padding: 0;
}
.contents__table-rowWrapper {
  padding: 1rem 0;
}
.contents__table-flagWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.contents__table-flagWrapper svg {
  color: #3ed0a6;
  width: 1.5rem;
  height: 1.5rem;
}
.contents-table-titleWrapper,
.contents__table-rowTitle {
  flex: 1 1 30% !important;
}
.title-row .ant-col,
.contents__table-flagWrapper {
  flex: 1 1 17.5%;
}

/************************/
/* Contents - Questions */
/************************/
.page2__qnaList {
  padding: 1rem;
}
.page2__qnaList p {
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.56;
  color: #283c6f;
  margin-bottom: 0.5rem;
}
.page2__qnaList h6 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.56;
  color: #283c6f;
  margin-bottom: 0.5rem;
}
.page2__qnaList p a {
  color: #1976d2;
  font-weight: 400;
}
.page2__qnaList p a:hover {
  text-decoration: underline;
}

/**********************/
/* Contents - Pricing */
/**********************/

.page2__pricing-wrapper {
  display: flex;
  justify-content: space-between;
}

.price__card {
  padding: 2rem;
  background: #fafcff;
}
.price__card h6 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  text-transform: uppercase;
  margin: 0 0 1rem;
  line-height: 1;
}
.price__card-price {
  margin: 0 0 1.25rem;
  text-align: center;
}
.price__card-price .dollar {
  position: relative;
  bottom: 0.6rem;
  font-size: 1.75rem;
  line-height: 1;
  color: #283c6f;
  font-weight: 700;
}

.price__card-price h2 {
  display: inline-block;
  position: relative;
  font-family: avenir, helvetica, arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.5rem;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  text-align: center;
  color: #283c6f;
}

.price__card-price span {
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  line-height: 1;
}

.price__card i {
  font-style: italic;
  color: #415484;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  margin: 0 0 1rem;
  line-height: 1;
  font-size: 0.75rem;
  font-style: oblique;
}

.price__switch-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 1.5rem;
}
.price__switch-wrapper span {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #283c6f;
  font-weight: 700;
  display: inline-block;
  position: relative;
}
.price__switch {
  margin: 0 0.5rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.price__extra {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.67;
  color: #283c6f;
  margin: 0 0 1.5rem;
  line-height: 1;
}

.price__option-list {
  margin: 0 0 4rem;
  padding: 0;
}
.price__option-list li {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 0.25rem;
  color: #283c6f;
}

.price__button {
  margin: 0 0 1.5rem;
}

.price__card p {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
}
.price-card-flex-wrapper {
  width: 50%;
}
.price__card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.price__community-wrapper {
  width: 100%;
  padding: 1rem 2rem;
}
.price__community-wrapper h6 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  line-height: 1;
}
.price__community-wrapper h3 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.38;
  color: #283c6f;
}
.price__community-wrapper p {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  max-width: 335px;
  color: #283c6f;
  margin: 1rem 0;
}

.price__community-buttons {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #283c6f;
  font-weight: 700;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  font-size: 16px;
}
.price__community-buttons svg {
  font-size: 20px;
  margin-right: 10px;
}
.price__community-buttons button {
  margin-left: 0;
  margin-right: 20px;
}

.price__company-wrapper {
  width: 50%;
}

.price__company {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  padding: 2.5rem;
  border-radius: 0.5rem;
  height: 100%;
  background: #061437;
  background-position: 0;
  background-size: cover;
  background-image: url(/dist/image/price-aside-bg.png),
    linear-gradient(0deg, #0f2251 0%, #061437 100%);
  text-align: center;
}
.company-header {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  display: inline-block;
  margin: 0 auto 1rem;
  border: solid 1px #415484;
  border-radius: 0.5rem;
  padding: 0.25rem 0.875rem 1px;
  vertical-align: middle;
  color: white;
}
.company-header svg {
  margin-right: 10px;
}
.price__company h3 {
  color: white;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 1rem;
}
.price__company p {
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.71;
  color: #283c6f;
  color: white;
  margin: 0 0 2rem;
}

.company-img-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 4.5rem;
}

.company-img-wrapper img {
  -webkit-filter: invert(1);
  filter: invert(1);
  object-fit: contain;
}

.company-button {
  width: 133px;
  margin: 0 auto;
  margin-top: 30px;
}
.company-plus p {
  margin: 0 auto 0.25rem;
  width: 50%;
}
.company-plus {
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 0 auto 2rem;
  padding: 0;
  max-width: 415px;
  list-style-type: none;
}

/*************************/
/* Contents - GetStarted */
/*************************/
.getStarted-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.getStarted-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24%;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: #fafcff;
  min-width: 12.66rem;
}
.getStarted-card h6 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.43;
  font-size: 1.25rem;
  margin: 0 auto 0.5rem;
  color: #283c6f;
}
.getStarted-card button {
  margin: 0;
  padding: 0.3rem 0.5rem;
}
.getStarted-img-card {
  box-sizing: border-box;
  overflow: hidden;
  background: #061437;
  background-position: 0;
  background-size: cover;
  background-image: url(/dist/image/price-aside-bg.png),
    linear-gradient(0deg, #0f2251 0%, #061437 100%);
}
.getStarted-img-card h6 {
  color: white !important;
}
.title-row {
  margin-bottom: 1rem;
  align-items: center;
}
.page2__contents-table {
  margin-top: 3rem;
}
.contents__tabe-coloumn {
  -webkit-flex: 1 1 17.5%;
  -ms-flex: 1 1 17.5%;
  flex: 1 1 17.5%;
  text-align: center;
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 0.75rem;
  font-weight: 900;
  line-height: 1.33;
  -webkit-letter-spacing: 0.5px;
  -moz-letter-spacing: 0.5px;
  -ms-letter-spacing: 0.5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.page2__contents-table h2 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.38;
}
.table-title-wrapper {
  max-width: 280px;
}
.table-title-wrapper:hover {
  cursor: pointer;
}
.table-title-wrapper h4 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
  padding-left: 1rem;
}
.table-title-wrapper p {
  color: rgb(65, 84, 132);
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.contents__table-icon.invisible {
  opacity: 0;
}
.table-rowText {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5;
}
.page2__contents-table h3 {
  color: #415484;
  font-style: normal;
  font-stretch: normal;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.38;
  text-align: center;
}
.contents-table2 {
  margin: 1rem 0 0;
}

@media (max-width: 1020px) {
  .page2__pricing-wrapper {
    flex-direction: column;
  }
  .price-card-flex-wrapper,
  .price-company-wrapper {
    width: 100%;
  }
  .price__community-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .price__company-wrapper {
    width: 100%;
    margin-top: 30px;
  }
  .getStarted-card {
    padding: 1.5rem 0;
  }
  .getStarted-card h6 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .company-img-wrapper {
    margin: 2rem;
  }
  .page2__contents-titleWrapper {
    flex-direction: column;
    align-items: center;
  }
  .page2__contents-section {
    padding: 4rem 0;
    padding-top: 1rem;
  }
  .price__card-wrapper {
    flex-direction: column;
  }
  .company-plus p {
    width: 100%;
  }
  .getStarted-wrapper {
    flex-direction: column;
  }
  .getStarted-card {
    width: 100%;
    margin-top: 30px;
  }
  .page2__contents-table1 {
    display: none;
  }
  .page2__contents-table h2 {
    color: #415484;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.43;
    margin-bottom: 0.5rem;
    padding: 0 1rem;
  }
  .table-title-wrapper h4 {
    font-size: 100%;
  }
  .table-title-wrapper p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 1rem;
  }
  .contents__table-flagWrapper {
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 1rem;
    font-size: 0.3rem;
  }
  .contents__table-flagWrapper svg {
    width: 1.1rem;
    height: 1.1rem;
  }
  .table-rowText {
    font-size: 0.8rem;
    text-align: right;
  }
}
@media (min-width: 768px) {
  .page2__contents-table2 {
    display: none;
  }
}
.check-svg {
  color: #3ed0a6;
}
