$color-white: #fff;
$color-green: black;
$color-blue: black;
$color-skyblue: black;
$color-black: black;
$color-gray: black;
$color-yellow: black;
$color-red: black;
$color-100: black;
$color-200: black;
$color-300: black;
$color-400: black;
$color-500: black;
$color-600: black;
$color-700: black;
$color-800: black;
$color-900: black;
